.sidebar {
  padding: 10px 20px;
  max-width: 20vw;
  height: 100vh;
  background-color: #363740;
  color: #a4a6b3;
  /* position: fixed;
  left: 0; */
}
.sidebar__heading {
  margin-top: 10px;
  margin-bottom: 100px;
}

.sidebar__content {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.sidebar__content img {
  margin-right: 20px;
}

.sidebar__title {
  font-size: 1.2rem;
}

.first__links {
  padding: 12px;
}

.second {
  margin-top: 100px;
}

.second__links {
  padding: 12px;
}

.first__links p,
.second__links p {
  font-size: 1rem;
  cursor: pointer;
}
